/****************************************/
/**************BOUNCING BALL*************/
/****************************************/

#conteneurBall {
    position: relative;
    margin: auto;
    width: 50px;
    height: 200px;
    border: 2px solid rgb(105, 252, 252);
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(224, 149, 253);
    border-radius: 50%;
    left: 12px;
    animation: bouncingBall 3s infinite

}

@keyframes bouncingBall {
    
    0% {top: 0; animation-timing-function: ease-in;}
    8% {top: 180px; animation-timing-function: ease-out;}
    18% {top: 100px; animation-timing-function: ease-out;}
    29% {top: 180px; animation-timing-function: ease-in;}
    37% {top: 120px; animation-timing-function: ease-out;}
    45% {top: 180px; animation-timing-function: ease-in;}
    55% {top: 140px; animation-timing-function: ease-out;}
    65% {top: 180px; animation-timing-function: ease-in;}
    70% {top: 155px; animation-timing-function: ease-out;}
    80% {top: 180px; animation-timing-function: ease-in;}

    /*
    
    0%{top:0;animation-timing-function:ease-in;}
    50%{top:10px;animation-timing-function:ease-out;}
    55%{top:183px;animation-timing-function:ease-in;}
    65%{top:120px;animation-timing-function:ease-out;}
    95%{top:0;animation-timing-function:ease-in;}
    100%{top:0;animation-timing-function:ease-in;}*/
    

    /*
    0% {left: 29px; top: 20px;}
    1% {left: 29px; top: 20px;}
    9% {left: 0; top: 40px;}
    18% {left: 29px; top: 60px;}
    27% {left: 0; top: 80px;}
    36% {left: 29px; top: 100px;}
    45% {left: 0; top: 120px;}
    54% {left: 29px; top: 140px;}
    63% {left: 0; top: 160px;}
    72% {left: 29px; top: 178px;}
    */
}