/****************************************/
/**************BOUNCING BALL*************/
/****************************************/

#conteneurBall {
    position: relative;
    margin: auto;
    border-radius: 5px;
    width: 50px;
    height: 200px;
    border: 2px solid rgb(105, 252, 252);
    background: rgb(78,255,205);
    background: linear-gradient(180deg, rgba(78,255,205,1) 0%, rgba(139,0,255,1) 100%);   
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background:rgb(248, 88, 221);
    border-radius: 50%;
    left: 12px;
    animation: bouncingBall 3s infinite
}

@keyframes bouncingBall {
    0% {top: 0; animation-timing-function: ease-in;}
    19% {top: 178px; animation-timing-function: ease-out;}
    34% {top: 40px; animation-timing-function: ease-in;}
    50% {top: 178px; animation-timing-function: ease-out;}
    62% {top: 80px; animation-timing-function: ease-in;}
    74% {top: 178px; animation-timing-function: ease-out;}
    82% {top: 120px; animation-timing-function: ease-in;}
    90% {top: 178px; animation-timing-function: ease-out;}
    94% {top: 160px; animation-timing-function: ease-in;}
    97% {top: 178px; animation-timing-function: ease-out;}
}