/****************************************/
/*****************LOADER*****************/
/****************************************/

#container {
    width: 190px;
    height: 50px;
    margin: auto;
}

.punkt {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

#point1 {
    position: relative;
    margin: 0;
    padding: 0;
}

#point2 {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    margin-left: 70px;
}

#point3 {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    margin-left: 140px;
}


/****************************************/
/****************ANIMATION***************/
/****************************************/

#point1 {
    background-color: rgb(224, 122, 255);
    animation-name: loader;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#point2 {
    background-color: rgb(224, 122, 255);
    animation-name: loader;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#point3 {
    background-color: rgb(224, 122, 255);
    animation-name: loader;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loader {
    0% {background-color: rgb(224, 122, 255);}
    50% {background-color: rgba(162, 89, 245, 0.747);}
    100% {background-color: black;}
}