/****************************************/
/**************GENERALITES***************/
/****************************************/

* {
    box-sizing: border-box;
}

body {
    background-color: black;
}
.center {
    width: 800px;
    padding: 30px;
    margin: 50px auto;
    border: 1px dashed rgb(255, 255, 255);
}

.titles {
    text-align: center;
    color: rgb(255, 255, 255);
}
/****************************************/
/**************LOOPING SQUARE************/
/****************************************/

.rotateSquare {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(0, 225, 255);
    margin: auto;
    animation: colorSquare 8s linear infinite;
    animation-direction: alternate;
    /*transition: transform 3s ease-in-out, background-color 1s ease-in-out; 
    transform: rotate(360deg);*/
    background-color: 1s ease-in-out; 
    
}

@keyframes colorSquare {
    0%{background: rgb(132, 0, 255);transform: rotate(0deg);}
    20%{background: rgb(255, 0, 212);}
    40%{background: rgb(132, 0, 255);}
    60%{background: rgb(255, 0, 221);}
    80%{background: rgb(132, 0, 255);}
    100%{background: rgb(255, 0, 221); transform: rotate(2160deg);}
}