/****************************************/
/**************GENERALITES***************/
/****************************************/

* {
    box-sizing: border-box;
}

.center {
    width: 800px;
    padding: 30px;
    margin: 50px auto;
    border: 1px dashed black;
}

.titles {
    text-align: center;
}
/****************************************/
/**************LOOPING SQUARE************/
/****************************************/

.rotateSquare {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: auto;
    animation: colorSquare 5s infinite;
    animation-direction: alternate;
    transition: transform 3s ease-in-out, background-color 1s ease-in-out; 
    transform: rotate(360deg);
    
}

.rotateSquare:hover {
    transform:rotate(0deg);
}

@keyframes colorSquare {
    0%{background: rgb(132, 0, 255);}
    20%{background: rgb(255, 0, 212);}
    40%{background: rgb(132, 0, 255);}
    60%{background: rgb(255, 0, 221);}
    80%{background: rgb(132, 0, 255);}
    100%{background: rgb(255, 0, 221);}
}