/****************************************/
/**************GENERALITES***************/
/****************************************/

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: black;
}

.center {
    width: 600px;
    padding: 30px;
    margin: 50px auto;
    border: 3px groove rgb(62, 255, 245);
    border-radius: 5px;
}

#mainContainer {
    margin: auto;
}

hr {
    background-color: rgba(162, 89, 245, 0.747);
    height: 3px;
    border: none;
}

.titles {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    color: hotpink;
}

#palmtrees {
    position: absolute;
    margin: 0;
    padding: 0;
}

#palmtrees2 {
    position: absolute;
    right: 0;
    transform: rotateY(180deg);
}

.dancing {
    animation: slide 0.55s infinite;
}

.dancing2 {
    animation: slide2 0.55s infinite;
}

#audio {
    position: absolute;
    display: none;

}

@keyframes slide {
    0% {transform: translateX(-50px); filter: brightness(100%);}
    50% {filter: invert(100%); transform: translateX(50px) rotateY(180deg);}
    100% {transform: translateX(-50px); filter: brightness(100%);}
}

@keyframes slide2 {
    0% {transform: translateX(50px) rotateY(180deg); filter: brightness(100%);}
    50% {filter: invert(100%); transform: translateX(-50px) rotateY(180deg);}
    100% {transform: translateX(50px); filter: brightness(100%);}
}

div.sticky {
    position: sticky;
    top: 0;
}

/****************************************/
/**************LOOPING SQUARE************/
/****************************************/

.rotateSquare {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(0, 225, 255);
    margin: auto;
    border-radius: 10px;
    animation: colorSquare 8s linear infinite;
    animation-direction: alternate;
    /*transition: transform 3s ease-in-out, background-color 1s ease-in-out; 
    transform: rotate(360deg);*/
    background-color: 1s ease-in-out; 
    
}

@keyframes colorSquare {
    0%{background: rgb(132, 0, 255);transform: rotate(0deg);}
    20%{background: rgb(255, 0, 212);}
    40%{background: rgb(132, 0, 255);}
    60%{background: rgb(255, 0, 221);}
    80%{background: rgb(132, 0, 255);}
    100%{background: rgb(255, 0, 221); transform: rotate(2160deg);}
}